/*
Web Programming Step by Step, HW1: Recipe
This file contains the stylistic information for my recipe page.
*/

body	{
	color: #404040;
	font-size: 11pt;
	font-family: Georgia, Garamond, serif;
	background-color: white;
	}
blockquote{
	font-style: italic;
	background-color: #FFFFA8;
	}
h1 span, h2 span	{
	color: #A4A400;	
	background-color: #F0F0F0;
	text-decoration: underline;
	font-family: Lucida Sans Unicode, Helvetica, Arial, sans-serif;
	}
h1	{
	text-align: center;
	font-size: 22pt;
	font-weight: bold;
	}
h2	{
	font-size: 18pt;
	}
a	{
	color: #A4A400;
	}
abbr	{
	border-bottom: 1px dotted black;
	}

